
/*importing google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Ubuntu:ital,wght@0,300;0,400;1,400&display=swap');

/* import global variables */
@import url('./partials/_variables.css');

/* import global styling */
@import url('./partials/_global.css');

/* import responsive styling */
@import url('./partials/responsive.css');


#home{
    /* background-image:var(--gradient-color), url(../images/home.png); */
    background: var(--gradient-color),url(../images/home.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:100% 100%, center;
}

/* nav bar */
#about .navbar{
    background: linear-gradient(rgba(115,31,125,1)100%,rgba(0,0,0,0));
}
#education .navbar{
    background: linear-gradient(rgba(115,31,125,1)100%,rgba(0,0,0,0));
}
#skills .navbar{
    background: linear-gradient(rgba(115,31,125,1)100%,rgba(0,0,0,0));
}
#contact .navbar{
    background: linear-gradient(rgba(115,31,125,1)100%,rgba(0,0,0,0));
}
#projects .navbar{
    background: linear-gradient(rgba(115,31,125,1)100%,rgba(0,0,0,0));
}


.navbar .navbar-nav{
    padding-right: 2rem;
    padding-top:0rem;
    font : normal 25px var(--font-roboto);
}

.navbar .navbar-brand > img{
    font-weight: 300;
    color:whitesmoke;
    padding-left: 3rem;
    height: 50px;
    width: 250px;
}
.navbar .navbar-nav .nav-item > a{
    color:whitesmoke;
    font-weight: 300;
    padding-right:1rem;
    transition: font-weight .15s ease;
}
.navbar .navbar-nav .nav-item > a:hover{
    color:white;
    font-weight:400;
}
.navbar .navbar-nav .nav-item .active{
    color:white;
    font-weight:400;
    border-bottom : 1px solid white;
}
.active{
    color:white;
    font-weight:400;
}
.navbar .navbar-toggler .navbar-toggler-icon{
   border-radius: 5px;
    color:white;
}
.navbar .navbar-toggler{
    background-color:var(--primary-color);
    border:solid 2px white;
    border-radius:10px;
}



/* home page */
#home .home-title{
    padding-top: 20%;
    font-weight: 100;
    font : normal bold 60px/70px var(--font-roboto);
    color:var(--primary-color);
    transition:transform .6s ease;
}
#home .home-title:hover{
    transform: scaleX(1.3);
}
    
#home .home-subtitle1{
    font-weight: 200;
    font : normal  50px/60px var(--font-roboto);
    color:var(--primary-color);
    transition:transform .6s ease;
}
#home .home-subtitle1:hover{
    transform: scale(1.3);
}

#home .home-subtitle2{
    font-weight: 150;
    font : normal  30px/40px var(--font-ubuntu);
    color:var(--primary-color);
    transition:transform .6s ease;
}
#home .home-subtitle2:hover{
    transform: scale(1.3);
}
#home .home-title::after{
    content: " ";
    height: 3px;
    width: 20vw;
    background: var(--primary-color);
    display: inline-block;
    margin-left: 4%;
    transform: translateY(-2px);
}
#home .site-title h1{
    font-size: 5rem;
}
#home .site-title h4{
    font-size: 1.5rem;
}

#home #quote{
    position:inherit;
    margin-top: 65px;
    color:var(--primary-color);
    font: normal 18px/30px var(--font-ubuntu);
    font-weight: 50;
    left:15%;
    right:15%;
    text-align: center;
}



/*-------------------about area-----------------------*/
#about .about-image > img{
    height: 50%;
    width: 50%;
    border-radius: 20px;
    border: 2px solid var(--primary-color);
    box-shadow: var(--box-shadow);
}
#about .about-image{
    text-align:center;
    margin-top: 20%;
    transition:transform .5s ease;
}
#about .about-image:hover{
    transform:scale(1.1);
}
#about .icons{
    text-align:center;  
}

#about .icons a img{
    transition:transform .4s ease;
}
#about .icons a img:hover{
    transform:scale(1.5);
}
#about .icons a > img{
    width: 40px;
    height: 40px;
    border-radius: 20%;
    margin: 0 3%;
    box-shadow: var(--box-shadow);
}

#about .about-title{
    margin-top:2%;
}

#about .about-title h4 > span{
    display: block;
    font: normal bold 22px/30px var(--font-roboto);
    letter-spacing: 10px;
}
#about .about-title .paragraph .about-para{
    font: italic 15px/17px var(--font-ubuntu);
    color: grey;
}


/* ----------------education part----------------- */

#education .case{
    background:linear-gradient(rgba(115,31,125,1)60%,rgba(0,0,0,0));
    color:whitesmoke;
    text-align:center;
    padding:5%;
    margin:2%;
    box-shadow: var(--box-shadow);
    margin-top:20%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 3px solid var(--primary-color);
    text-decoration: none;
    transition: transform .4s ease;
}
#education .case h4{
    font: normal 25px/30px var(--font-ubuntu);
}
#education .case p{
    font: normal 17px/25px var(--font-ubuntu);
}
#education .case:hover{
    transform: scale(1.1);
}
#education a{
    text-decoration: none;
}
#education .popupbox{
    border:2px solid var(--primary-color);
}
#education .popupbox hr{
    border:1px solid var(--primary-color);
}
#education .popupbox .main p{    
    font: normal 18px/25px var(--font-ubuntu);
    color:grey;
}
#education .popupbox .main p a{
    text-decoration: none;
    color:grey;
    font-weight:50px;
}
#education .popupbox .head{    
    background:linear-gradient(rgba(115,31,125,1)60%,rgba(0,0,0,0));
    color:whitesmoke;
    text-align:center;
    border-radius: 10px;
    padding:20px;
}
#education .popupbox .head h4{
    font: normal 25px/30px var(--font-ubuntu);
}
#education .popupbox .head h6{
    font: normal 15px/25px var(--font-ubuntu);
}


/* -------------------------------skills area----------------------- */

   

#skills .skillblock .showblock{
    border-bottom:2px solid var(--primary-color);
    color:whitesmoke;
    text-align:center;
    margin-top: 4%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: transform .6s ease-in-out;
}
#skills .skillblock .showblock:hover{
    transform:scale(1.2);
}
#skills .skillblock .showblock .sidepanel{
    background:linear-gradient(rgba(115,31,125,1)60%,rgba(0,0,0,0));
    color:whitesmoke;
    text-align:center;
    padding-top:40px;
    padding-bottom:50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font: normal 17px/20px var(--font-ubuntu);
    box-shadow: var(--box-shadow);
}
#skills .skillblock .showblock .contentpanel{
    padding: 4% 0 3% 4%;
}
#skills .skillblock .showblock .contentpanel img{
    width:40px;
    height:40px;
    float:left;
    margin-left:20px;
    margin-bottom:10px;
    transition:transform .4s ease;
}
#skills .skillblock .showblock .contentpanel img:hover{
    transform:scale(1.6);
    cursor: pointer;
}

/* ----------------------project area-------------------------- */
#projects .project-grid  a img{
    width: 100%;
    height: 200px;
    border:2px solid var(--primary-color);
    transition: transform .4s ease-in;
    box-shadow: var(--box-shadow);
}
#projects .project-grid a img:hover{
    transform:scale(1.2);
    border:1px solid var(--primary-color);
}

#projects .projectDialog{
    border:2px solid var(--primary-color);
}

#projects .projectDialog .left-image img{
    width:100%;
    height:100%;
    transition:transform .4s ease-out;
}
#projects .projectDialog .left-image img:hover{
    transform:scale(1.2);
    cursor: pointer;
}
#projects .projectDialog .right-content{
    padding:20px 80px 20px 30px;
    color:var(--primary-color);
}
#projects .projectDialog .right-content h4{
    font: normal 30px/30px var(--font-ubuntu);
}
#projects .projectDialog .right-content h6{
    font: italic 15px/20px var(--font-ubuntu);
    color:grey;
}
#projects .projectDialog .right-content p{
    font: normal 18px/30px var(--font-ubuntu);
    color:grey;
}
#projects .projectDialog .right-content a{
    transition:font .4s ease;
    text-decoration: none;
    color:grey;
    font: normal 15px/25px var(--font-ubuntu);
}
#projects .projectDialog .right-content a:hover{
    text-decoration: none;
    font: bold 20px/25px var(--font-ubuntu);
} 

#projects .project-github-link a img{
    height:40px;
    width:40px;
    transition: transform .4s ease;
}
#projects .project-github-link a img:hover{
    transform:scale(1.3);
}

/* -----------------contact area---------------------------- */

#contact .contact-box{
    border:2px solid var(--primary-color);
    height: 300px;
    width:100%;
    box-shadow: var(--box-shadow);
    border-radius:10px;
}




