
/*importing google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Ubuntu:ital,wght@0,300;0,400;1,400&display=swap');

/* import global variables */
@import url('./partials/_variables.css');

/* import global styling */
@import url('./partials/_global.css');

/* import responsive styling */
@import url('./partials/responsive.css');


#home{
    /* background-image:var(--gradient-color), url(../images/home.png); */
    background: var(--gradient-color),url(../images/home.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:100% 100%, center;
}

/* nav bar */
#about .navbar{
    background: linear-gradient(rgba(115,31,125,1)100%,rgba(0,0,0,0));
}
#education .navbar{
    background: linear-gradient(rgba(115,31,125,1)100%,rgba(0,0,0,0));
}
#skills .navbar{
    background: linear-gradient(rgba(115,31,125,1)100%,rgba(0,0,0,0));
}
#contact .navbar{
    background: linear-gradient(rgba(115,31,125,1)100%,rgba(0,0,0,0));
}
#projects .navbar{
    background: linear-gradient(rgba(115,31,125,1)100%,rgba(0,0,0,0));
}


.navbar .navbar-nav{
    padding-right: 2rem;
    padding-top:0rem;
    font : normal 25px var(--font-roboto);
}

.navbar .navbar-brand > img{
    font-weight: 300;
    color:whitesmoke;
    padding-left: 3rem;
    height: 50px;
    width: 250px;
}
.navbar .navbar-nav .nav-item > a{
    color:whitesmoke;
    font-weight: 300;
    padding-right:1rem;
    transition: font-weight .15s ease;
}
.navbar .navbar-nav .nav-item > a:hover{
    color:white;
    font-weight:400;
}
.navbar .navbar-nav .nav-item .active{
    color:white;
    font-weight:400;
    border-bottom : 1px solid white;
}
.active{
    color:white;
    font-weight:400;
}
.navbar .navbar-toggler .navbar-toggler-icon{
   border-radius: 5px;
    color:white;
}
.navbar .navbar-toggler{
    background-color:var(--primary-color);
    border:solid 2px white;
    border-radius:10px;
}



/* home page */
#home .home-title{
    padding-top: 20%;
    font-weight: 100;
    font : normal bold 60px/70px var(--font-roboto);
    color:var(--primary-color);
}
#home .home-subtitle1{
    font-weight: 200;
    font : normal  50px/60px var(--font-roboto);
    color:var(--primary-color);
}
#home .home-subtitle2{
    font-weight: 150;
    font : normal  30px/40px var(--font-ubuntu);
    color:var(--primary-color);
}
#home .home-title::after{
    content: " ";
    height: 3px;
    width: 20vw;
    background: var(--primary-color);
    display: inline-block;
    margin-left: 4%;
    transform: translateY(-2px);
}
#home .site-title h1{
    font-size: 5rem;
}
#home .site-title h4{
    font-size: 1.5rem;
}

#home #quote{
    position:inherit;
    margin-top: 65px;
    color:var(--primary-color);
    font: normal 18px/30px var(--font-ubuntu);
    font-weight: 50;
    left:15%;
    right:15%;
    text-align: center;
}



/*-------------------about area-----------------------*/
#about .about-image > img{
    height: 50%;
    width: 50%;
    border-radius: 20px;
    border: 2px solid var(--primary-color);
    box-shadow: var(--box-shadow);
}
#about .about-image{
    text-align:center;
    margin-top: 10%;
}
#about .icons{
    text-align:center;
}
#about .icons a > img{
    width: 40px;
    height: 40px;
    border-radius: 20%;
    margin: 0 3%;
    box-shadow: var(--box-shadow);
}

#about .about-title{
    margin-top:2%;
}

#about .about-title h4 > span{
    display: block;
    font: normal bold 25px/30px var(--font-roboto);
    letter-spacing: 10px;
}
#about .about-title .paragraph .about-para{
    font: normal 18px/20px var(--font-ubuntu);
    color: grey;
}


/* ----------------education part----------------- */

#education .case a{
    background:linear-gradient(rgba(115,31,125,1)60%,rgba(0,0,0,0));
    color:whitesmoke;
    text-align:center;
    padding:5%;
    margin:2%;
    box-shadow: var(--box-shadow);
}

   
    
    





