/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
  position:relative;
}
canvas {
  display: block;
  vertical-align: bottom;
  position:fixed;
  size:cover;
} /* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #392e2f;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -10000;
} 





/* The sidebar menu */
.sidenav {
  position:fixed;
  display:none;
  height: 35%; /* Full-height: remove this if you want "auto" height */
  width: 47px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1000; /* Stay on top */
  top: 3%; /* Stay at the top */
  margin-left:2px;
  background-color:grey;/* Black */
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  color:white;
  padding: 5px 0 0 13px;
}

/* The navigation menu links */
.sidenav a {
/*  padding: 6px 8px 6px 16px;*/
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  padding-top:10px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: white;
  fill:white;
}
/*menu icon*/
#menuIcon{
    position:fixed;
    z-index:2000;
    top:1%;
/*    left:1%;*/
    height:50px;
    width:50px;
    background-image:url(images/menuicon.gif);
    background-repeat: no-repeat, repeat;
    background-position: center;
    border-radius:50%;
    border:3px solid grey;
}
#menuIcon:hover{
    cursor:pointer;
}

/*setting pic style*/
#head{
    width:100%;
    height:260px;
    border-bottom:3px solid grey;
    background-color: rgba(0,0,0,0.3);
    padding-top:80px;
}
#pic{
    position:absolute;
    top:34%;
    text-align: center;
    width:100%;
    z-index:1;
}
#pic:hover{
    cursor:pointer;
}


#moveDownIcon{
    background-position: center;
    position:relative;
    margin-top:150px;
    margin-bottom:200px;
}
#moveDownIcon:hover{
    cursor:pointer;
}
#about{
    background-color:rgba(0,0,0,0.3);
}
#content1{
    position:relative;
    background-color:white;
    color:black;
    border-radius:10px;
    padding:10px;
    margin:4%;
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;
    z-index:1;
}
#content2{
    position:relative;
    background-color:white;
    color:black;
    border-radius:10px;
    padding:10px;
    margin:4%;
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;
    z-index:1;
}
#content3{
    position: relative;
    background-color:white;
    color:black;
    border-radius:10px;
    padding:10px;
    margin:4%;
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;
    z-index: 1;
}
#projects{
/*    background-image:url();*/
    background-color:rgba(0,0,0,0.1);
    background-position: center;
}
#projectBody{
    background-color: white;
    border-radius:10px;
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;
    color:black;
    margin-bottom: 30px;
    padding:50px;
    height:auto;
}
#acheivements{
    background-color:rgba(0,0,0,0.3);
    background-position: center;
}
#acheivementBody{
    background-color: white;
    border-radius:10px;
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;
    color:black;
    margin:4%;
}
#contact{
    background-color:rgba(0,0,0,0.1);
    background-position: center;
}
#contactBody{
    background-color: white;
    border-radius:10px;
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;
    color:black;
}
#footer{
    background-color:rgba(0,0,0,0.7);
    background-position: center;
}
#github{
    height:200px;
    width:100%;
    background-image:url(images/github.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius:10px;
    margin-bottom:50px;
}
#hackerrank{
    height:100px;
    width:100%;
    background-image: url(images/hackerrank.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius:10px;
    margin-bottom:15px;
}
#leetcode{
    height:100px;
    width:100%;
    background-image: url(images/leetcode.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius:10px;
    margin-bottom:15px;
}
#footer a{
    color:white;
    margin-right:20px;
    font-size: 17px;
}


