
/*Global classes*/


.text-uppercase{
    text-transform: uppercase;
}

/*Buttons*/
.button{
    padding: 0.6rem 2rem;
    font: normal 500 16px/20px var(--font-roboto);
    position:relative;
    border: 2px solid transparent;
    border-radius:7px;
}

.button.primary-button{
    background:linear-gradient(rgba(115,31,125,1)60%,rgba(0,0,0,0));
    background-clip: padding-box;
    color: whitesmoke;
    transition: border .8s ease;
    box-shadow: var(--box-shadow);
}
.button.primary-button:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
    transition: border .8s ease;
    border: 2px solid var(--primary-color);
    border-radius:7px;
}
.button.secondary-button{
    background:white;
    background-clip: padding-box;
    color: black;
    transition: border .8s ease;
    border: 2px solid  var(--primary-color);
}
.button.secondary-button:hover{
    background: linear-gradient(rgba(115,31,125,1)60%,rgba(0,0,0,0));
    color:whitesmoke;
    box-shadow: var(--box-shadow);
    transition: border .8s ease;
    border: 2px solid white;
    border-radius:7px;
}
